@font-face {
  font-family: TTlakesLight;
  src: url(fonts/TTLakes-ExtraLight.ttf);
}
#more {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
  direction: row;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #f8f8f8;
  font-family: TTlakesLight;
  color: #7e7e82;
  min-width: 320px;
}
.brand-carousel__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  margin-bottom: 24px;
  padding: 20px 16px 32px 16px;
  border-top: #d9fff5 solid 3px;
  background: #f8f8f8;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 248, 1) 0%,
    rgba(255, 255, 255, 1) 81%
  );
}
.swiper-wrapper {
  padding: 0 16px 20px 16px;
  margin: 0 0 16px;
  box-shadow: inset -5px 0 5px white;
}
.list-wrapper {
  justify-content: center;
  gap: 30px;
  padding-bottom: 16px;
  margin: 0 16px 16px;
}
.swiper-slide,
.list-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #eaeaea solid 1px;
  border-radius: 6px;
  width: 200px;
  height: 72px;
  padding: 0 16px;
  background-color: #ffffff;
}
.list-wrapper {
  max-height: 180px;
  overflow: hidden;
  margin: 0px 16px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
#myBtn {
  text-align: center;
  border: none;
  font-family: TTlakesLight;
  background-color: transparent;
  font-size: 1rem;
  line-height: 20px;
  padding: 20px;
  display: block;
}
.arrow {
  padding: 0 8px 2px 0;
}
:root {
  --swiper-theme-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #dddddd;
}
@media screen and (max-width: 768px) {
  .brand-carousel {
    display: inline;
  }
  .brand-list {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .brand-carousel {
    display: none;
  }
  .brand-list {
    display: grid;
  }
}
@media screen and (min-width: 1120px) {
  .brand-carousel {
    display: none;
  }
  .list-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
