@font-face {
  font-family: TTlakesLight;
  src: url(fonts/TTLakes-ExtraLight.ttf);
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #f8f8f8;
  font-family: TTlakesLight;
  color: #7e7e82;
  min-width: 320px;
}
.brand-carousel__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  margin: 0;
  padding: 20px 16px;
}
.swiper-wrapper {
  padding: 0 16px 20px 16px;
  margin: 0 0 16px;
  box-shadow: inset -5px 0 5px white;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #eaeaea solid 1px;
  border-radius: 6px;
  width: 200px;
  height: 72px;
  padding: 0 16px;
  background-color: #ffffff;
}
:root {
  --swiper-theme-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #dddddd;
}
